.glassCard {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.glassHeader {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
}
